@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-color: #293837;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0px;
}

a{
    text-decoration: none;
    color: inherit;
}

.imgLogo{
    filter: invert(100%) sepia(0%) saturate(7465%) hue-rotate(343deg) brightness(110%) contrast(113%);
}

#imgLogoID{
    width: 30%;
}

ul{
    padding:20px 0px;
    margin:0;
    list-style-type:none;
}

h1{
    font-size: 80px;
    color: #00986f;
    font-family: 'Bebas Neue', cursive;
    margin: 0px;
}

h2{
    font-size: 40px;
    color: #00986f;
    font-family: 'Bebas Neue', cursive;
    margin: 0px;
}

.footerImgContainer{
    background-color: #283337;
    padding: 5px 0px 5px 0px;
}

.row{
    padding-left: 200px;
    padding-right: 200px;
}