@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-color: #293837;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0px;
}

.header{
    background-color: #d1d1d1;
    padding: 30px 0px 10px 0px;
}

.header h1, .header h2{
    color: #283337;
}

.topMenu li{
    display:inline;
    list-style-type: none;
    padding: 0px 20px;
    color: #00986f;
    font-family: 'Bebas Neue', cursive;
}

a{
    text-decoration: none;
    color: inherit;
}

.mainContainer{
    padding: 50px 200px 50px 200px;
}

#mainImg {
    width: 50%;
    border-radius: 10px;
    margin: 50px;
}

#imgLogo{
    width: 30%;
    filter: invert(100%) sepia(0%) saturate(7465%) hue-rotate(343deg) brightness(110%) contrast(113%);
}

ul, ol{
    padding:20px 0px;
    margin:0;
    list-style-type:none;
}

h1{
    font-size: 80px;
    color: #00986f;
    font-family: 'Bebas Neue', cursive;
    margin: 0px;
}

h2{
    font-size: 40px;
    color: #00986f;
    font-family: 'Bebas Neue', cursive;
    margin: 0px;
}

.footerImgContainer{
    background-color: #283337;
    padding: 5px 0px 5px 0px;
}

#mainImgContainer{
    box-shadow: 0px 22px 17px -9px rgba(0,0,0,0.85) inset;
    -webkit-box-shadow: 0px 22px 17px -9px rgba(0,0,0,0.85) inset;
    -moz-box-shadow: 0px 22px 17px -9px rgba(0,0,0,0.85) inset;
}